body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(4, 149, 253, 0.308);
}

header {
    background-color: #169eff;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #444;
    padding: 1em 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 3em;
}
nav :hover {
    color: #ffd700;}

section{
    background-color: white;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    

}
#objective {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
   
}
#education {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
#experience {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
#contact {
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
#personal {
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
#about {
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

h2 {
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    color: #efedf6;
}

footer {
    background-color: rgb(4, 107, 251);
    color: black;
    text-align: center;
    padding: 5px;
}


form {
    
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: inline;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

